<h1>Add New Post</h1>
<form action="/new" method="post">
    <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="content" placeholder="Type post text here..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>